@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Lex Luther";

}

<!--About Info-->
<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <h1>Alexis Jane Ferolino</h1>
                <br /><br />

                <!--Image of Me-->
                <img src="img/waipio_valley.jpeg" />
                <br /><br />

                <!--IS 413 Expectations-->
                <p>
                    I hope that I can finally figure out why my husband loves ASP.NET so much.
                    I want to be able to understand what he's talking about but I also want to
                    be able to use ASP.NET in the work place. I hope that this class will give
                    me a good starting point to what I can accomplish as a a developer in ASP.NET.
                </p>
                <br />

                <!--Top 3 Jobs-->
                <div>
                    <h2>Top #3 jobs</h2>
                    <ul>
                        <li>UI/UX Designer</li>
                        <li>Web Developer</li>
                        <li>Full Stack Developer</li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</section>




   
